# Make LivingEntity#jumping public,so we can check for it in our movement logic.
# Probably not necessary, but it does simplify things.
public net.minecraft.world.entity.LivingEntity jumping

# Make entity movement logic easier
public net.minecraft.world.entity.LivingEntity handleRelativeFrictionAndCalculateMovement(Lnet/minecraft/world/phys/Vec3;F)Lnet/minecraft/world/phys/Vec3;
public net.minecraft.world.entity.EntityFluidInteraction$Tracker
public net.minecraft.world.entity.Entity fluidInteraction
public net.minecraft.world.entity.LivingEntity jumpOutOfFluid(D)V

#public net.minecraft.world.entity.LivingEntity applyInput()V
#public net.minecraft.world.entity.LivingEntity isImmobile()Z
#public net.minecraft.world.entity.LivingEntity serverAiStep()V
#public net.minecraft.world.entity.LivingEntity noJumpDelay
#public net.minecraft.world.entity.LivingEntity updateFallFlying()V
#public net.minecraft.world.entity.LivingEntity travelRidden(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/phys/Vec3;)V
#public net.minecraft.world.entity.Entity applyEffectsFromBlocks()V
#public net.minecraft.world.entity.LivingEntity removeFrost()V
#public net.minecraft.world.entity.LivingEntity tryAddFrost()V
#public net.minecraft.world.entity.LivingEntity autoSpinAttackTicks
#public net.minecraft.world.entity.LivingEntity checkAutoSpinAttack(Lnet/minecraft/world/phys/AABB;Lnet/minecraft/world/phys/AABB;)V
#public net.minecraft.world.entity.LivingEntity pushEntities()V
